[submodule "compiler/third_party/nds"]
	path = compiler/third_party/nds
	url = https://github.com/ads00/nds.git
[submodule "compiler/third_party/spdlog"]
	path = compiler/third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "compiler/third_party/benchmark"]
	path = compiler/third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "compiler/third_party/PEGTL"]
	path = compiler/third_party/PEGTL
	url = https://github.com/taocpp/PEGTL.git
